

.container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
   background-color: antiquewhite;
   padding: 24px;
}

.RouteForm{
   display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  overflow: scroll;
}
.stopsData{
    display: flex;
    flex-direction: column;
}

.stopsContainer{
    display: flex;;
    padding: 8px;
    gap:8px;
   width:100%
}

.stopsData{
    overflow: scroll;
}
.submitButton{
    width: 100%;
    color: black;
      background-color: #fbae1f;
      cursor: pointer;
}

.submitButton:disabled{
    width: 100%;
    color: white;
    background-color:grey;
    pointer-events: none;
}