@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  border-radius: 8px;
  padding-left: 4px;
}

button{
  width: 100%;
  background-color: #fbae1f;
  border:1px solid rebeccapurple;
  border-radius:8px;
  padding: 4px;
}
button:hover{
    background-color: wheat;
}

h1{
  font-size: 22px;
  font-weight: bold;
  padding: 2px;
}

.App {
  text-align: center;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapDiv{
  height:700px;
  width: 800px;
}

.mapNavigation{
  display: flex;
  background-color: antiquewhite;
  padding: 20px;
  width: 100%;
  height: 60vw;
}

.button{
  width: 100%;
  background-color: #fbae1f;
  border:1px solid rebeccapurple;
  border-radius:8px;
  padding: 4px;
}

.routeData:before {
    content:"• ";
}

.disabled{
  color: gray;
}

.tab {
  display: flex;
  width: 100%;
  padding: 4px;
  gap:8px
}

.tab button {
  background-color: white;
  float: left;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #fbae1f;
}

.tab button.active {
  background-color: #fbae1f;
}

 .marker-icon {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #FF0000;
  }

  .marker-disabled-icon {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
  }

 .marker-tooltip {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
       color: #333;
        background-color: #fff;
        font-size: 20px;
        padding: 8px;
        border-radius: 8px;
        white-space: nowrap;
        z-index: 10;
    }
    
.marker-icon:hover .marker-tooltip,
.marker-disabled-icon:hover .marker-tooltip {
    display: block;
}